
.ws-field-has-error .ant-input,
.ws-field-has-error .ant-input:hover {
  border-color: #f04134;
}

.ws-field-has-error .ant-input:focus {
  border-color: #f46e65;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(240, 65, 52, 0.2);
}
