
.ws-field-has-error .ant-select .ant-select-selection,
.ws-field-has-error .ant-select .ant-select-selection:hover {
  border-color: #f04134;
}

.ws-field-has-error .ant-select-focused .ant-select-selection:focus {
  border-color: #f46e65;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(240, 65, 52, 0.2);
}

.ant-select-dropdown-menu-item.ws-select-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #d9d9d9;
  padding: 5px 4px;
}
